.card-container {
    width: 5in !important;
    height: 3in !important;
    z-index: 15;
    top: 50%;
    left: 50%;
}

.card {
    /* border-style: dashed;
    border-width: 1px;
    border-color: lightgrey; */

    outline: lightgrey dashed 1px;

    height: 100%;
    margin-top: 0px;
    /* padding: 5px 0 0 5px; */
    padding: 0 0 0 0;

    font-family: Tahoma, serif !important;
    font-size: 12px;
}

h1 {
    font-size: 30px;
    margin: 0 0 0 0;
    border-bottom-color: black;
    border-bottom: dotted 1px;
}

p {
    margin: 0 0 0 0;
}

ul {
    margin: 0 0 0 0;
    padding-left: 20px;
    padding-right: 20px;
}